// primary colors
$darkBlueBG: hsl(233, 47%, 7%);
$darckBlueCard: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);

//neutral colors
$whiteMain: hsl(0, 0%, 100%);
$whiteTransparent: hsla(0, 0%, 100%, 0.75);
$whiteStatHeading: hsla(0, 0%, 100%, 0.6);

// fontSize
$font-size: 15px;
